/* generals */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: black;
  color: white;
}

main{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 94vh;
}

/* utility */
.show{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}
/* header */

#header_nav{
  background: #202020;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#header_nav img{
  width: 150px;
}


#containerLi{
  width: 100%;
  background: #313131;
  overflow-y: scroll;
  padding-top: 30px;
}

 ul{
   margin-left: 15%;
   color: rgb(0, 0, 0);
 }
 
 li{
   list-style: square;
   color: white;
 }
